
    body {
      font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    table {
      background-color: #cccccc;
      text-align: center;
      border: 3px solid;
      width: 600px;
      border-spacing: 10px;
      /*reemplaza a cellspacing de HTML*/
    }

    td,
    th {
      border: 1px solid;
      padding: 10px;
      /*reemplaza a cellpadding de HTML*/
    }

    .fila1 {
      background-color: #ffcc66;
    }

    .fila2 {
      color: white;
      background-color: #666666;
    }

    .celdahtml {
      border: 2px red solid;
    }
 